
@import '../../../../@theme/styles/themes';

:host {
  display: block;

  .ghost-loading {
    height: 18rem;
    margin-bottom: 1rem;
    width           : 300px;
    display         : block;
    background-color: white;
    border-radius   : 4px;
    transition      : 400ms ease;
  }

}

@include nb-install-component() {
  [class$='placeholder'] {
    background: nb-theme(background-basic-color-2);
  }
}



::ng-deep label {
  display: inline-block;
  padding-left: 10px !important;
}

::ng-deep  nb-icon {
  font-size: 2rem !important;
}