<mat-paginator [length]="length" [pageSize]="pageSize" (page)="setPageEvent($event)"> </mat-paginator>
<div class="row">
  <div *ngFor="let album of albums">
    <a (click)="openAlbumDialogItem(album)">
      <div class="col-md-12 col-lg-6 col-xxxl-4">
        <div class="thecard">
          <div class="card-img">
            <img [src]="album?.fileUrl" width="300" height="300">
          </div>
          <div class="card-caption">
            <!-- <span class="date">Thursday, July 16, 2015</span> -->
            <br />
            <p>{{album.nome}}</p>
            <button nbButton [shape]="'round'" [size]="tiny" disabled>{{album.autor.nome}}</button>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>