@import '../../../@theme/styles/themes';

form {
  overflow   : visible;
  padding-top: 0;

  >* {
    margin-top: 1rem;
  }
}

@include nb-install-component {
  .buttons-row {
    margin: -0.5rem;
  }

  button[nbButton] {
    margin: 0.5rem;
  }


  nb-card {
    max-width : 800px;
    max-height: 600px;
  }

  .thecard {
    width           : 300px;
    height          : 300px;
    margin          : 8% 2%;
    box-shadow      : nb-theme(slide-out-shadow-color);
    display         : block;
    background-color: white;
    border-radius   : 4px;
    transition      : 400ms ease;
  }

}

label nb-icon {
  width: 2rem;
}

.card-img img {
  width        : 100%;
  border-radius: 4px 4px 0px 0px;
}

.caption {
  margin-top: 5px;
}